@import "src/styles/shared";

.client{
    padding-top: 130px;
    padding-bottom: 130px;
    &__items{
        margin-top: 40px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        &::before{
            position: absolute;
            content: '';
            top: -195px;
            right: 95px;
            width: 363px;
            height: 373px;
            background: url('src/assets/img/3d-icon1.png') no-repeat center;
            background-size: contain;
            z-index: 0;
        }
        &::after{
            position: absolute;
            content: '';
            bottom: -175px;
            left: 110px;
            width: 299px;
            height: 281px;
            background: url('src/assets/img/3d-icon2.png') no-repeat center;
            background-size: contain;
            z-index: 0;
        }
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(63, 73, 108, 0.4);
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);
        overflow: hidden;
        min-height: 250px;
        position: relative;
        z-index: 1;
        img{
            display: block;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}
