@import "src/styles/shared";

.service{
    padding-top: 246px;
    padding-bottom: 130px;
    overflow: hidden;
    @include mediaLaptop {
        padding-top: 168px;
        padding-bottom: 60px;
    }
    @include mediaTablet {
        padding-top: 148px;
        padding-bottom: 40px;
    }
    @include mediaMobile {
        padding-top: 40px;
        padding-bottom: 32px;
    }
    &__items{
        margin-top: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        position: relative;
        @include mediaLaptop {
            margin-top: 32px;
            gap: 32px;
        }
        @include mediaMobile {
            display: block;
        }
        &::after{
            position: absolute;
            content: '';
            top: -335px;
            right: -110px;
            width: 492px;
            height: 477px;
            background: url('src/assets/img/service.png') no-repeat center;
            z-index: 0;

            @include mediaLaptop {
                top: -260px;
                right: -229px;
                width: 493px;
                height: 477px;
                background: url('src/assets/img/service-icon1024.png') no-repeat center;
                background-size: contain;
            }
            @include mediaTablet {
                right: -220px;
            }
            @include mediaMobile {
                width: 223px;
                height: 216px;
                top: -130px;
                right: -70px;
            }
        }
    }
    &__item{
        position: relative;
        z-index: 1;
        padding: 44px 29px;
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
        color: #1e212e;
        border: 1px solid rgba(63, 73, 108, 0.4);
        border-radius: 10px;
        backdrop-filter: blur(30px);
        background: rgba(228, 228, 228, 0.38);
        @include mediaLaptop {
            font-size: 20px;
        }
        @include mediaTablet {
            font-size: 16px;
            line-height: 150%;
        }
        @include mediaMobile {
            font-size: 14px;
            line-height: 143%;
            margin-bottom: 8px;
            padding: 23px;
        }
        &:after{
            position: absolute;
            content: '';
            top: 15px;
            left: 15px;
            width: 30px;
            height: 32px;
            background: url('src/assets/img/line-about.svg') no-repeat center;
            background-size: contain;            
        }
    }
}
