@import "src/styles/shared";

.category{
    padding-bottom: 164px;
    position: relative;
    &__wrap{
        display: flex;
        flex-wrap: wrap;
    }
    &__left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;        
        width: 55%;
        min-height: 700px;
        padding-top: 190px;
    }
    &__right {
        position: absolute;
        top: 0;
        right: 0;
        width: 49.306%;
        height: 700px;
        overflow: hidden;
        img{
            display: block;
            width: 100%;
            max-width: 100%;  
            object-fit: contain;
            object-position: left center;
        }

    }
    &__back{
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 120%;
        color: #008aab;
        margin-bottom: 12px;
        img{
            display: block;
            margin-right: 8px;
        }
    }
    &__desc{
        margin-top: 25px;
        font-size: 14px;
        line-height: 135%;
        color: #000;
        max-width: 580px;
        &--subcategory{
            max-width: 530px;
        }
    }
    &__download{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        background: linear-gradient(90deg, #008aab 0%, #00b2dc 100%);
        border-radius: 4px;
        width: 280px;
        height: 60px;
        margin-top: 25px;
        img {
            display: block;
            margin-right: 39px;
        }
    }
    .product__items{
        margin-top: 108px;
    }
    &--subcategory .category__right{
        width: 56.306%;
        height: 673px;        
        img {
            width: auto;
            height: 100%;
        }
    }
    &--subcategory .category__left{
        min-height: 673px;
        padding-top: 134px;
    }
    &--subcategory .category__desc{
        max-width: 500px;
        font-size: 18px;
        padding-right: 10px;        
    }
    &--subcategory .category__left{
        justify-content: center;
    }    
    &--subcategory h2{
        max-width: 540px;
    }
    .category__table {
        margin-top: 100px;
    }
}
